includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
    excludePaths:
        analyse:
            - src/FilamentRangeFieldServiceProvider.php
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false

